<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Space Store</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </link>
    <!--Custom-CSS-->
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">Library Space Store</a>
        </div>
    </nav>
    <div class="container p-2">{{{body}}}</div>
</body>

</html>